/* 
Author:Lalit Pastor
Author URI:http://infoparkinnovations.in
Author e-mail:htmlcoder.me@gmail.com
Version:1.0.0
Created:December 2017
License URI:http://infoparkinnovations.in
File Description: Place here your custom CSS styles
*/
/*Header Top */
#newFont1{
            font-family:century gothic;
            
            font-weight:bold;
            font-size:14px;
}

#newFont1 a{
    text-decoration: none;
}
#newFont2{
     font-family:century gothic;
            
            font-weight:bold;
   
}
.top-links a:hover{
    color: yellow;
}
#multiDrop li a{
  
}
#multiDrop li a,#multiDrop li a ul li a{
    font-family:century gothic;
    
    font-weight:500;
    position:relative;
    z-index:999;
           
} 
#homeRow1{
    background:#f8f8f8 url("../images/bg/overlay.png");
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    font-family:century gothic;
   
     position:relative;
    z-index: 0;
   
}
#homeRow3{
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    font-family:century gothic;
    
}
#cpara{
    text-align:left;
    font-family:century gothic;
    
    
}
#cpara2{
    text-align: center;
    font-family:century gothic;
    
    
}
#missionCpara{
    font-size:24px;
    line-height:26px;
    font-family:century gothic;
}
#para-font{
    font-family:century gothic;
   
   
}
#heading-font{
    font-family:century gothic;
    line-height:36px;
   
}
#homeRow2{
    background:#e2e2e2;
    box-shadow:inset 0 2px 7px rgba(0,0,0, 0.25);
    font-family:century gothic;
    
    text-align:justify;
    
}
#threeD{
    color:white;
    text-shadow: 0 1px 0 #ccc,
        0 2px 0 #c9c9c9,
        0 3px 0 #bbb,
        0 4px 0 #b9b9b9,
        0 5px 0 #aaa,
        0 6px 1px rgba(0,0,0,.1),
        0 0 5px rgba(0,0,0,.1),
        0 1px 3px rgba(0,0,0,.3),
        0 3px 5px rgba(0,0,0,.2),
        0 5px 10px rgba(0,0,0,.25),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.15);
}
#new-ticker{
    background:#f28c00;
    
    height:60px;;
    color:white;
    margin-top:0px;
    padding-top:17px;
   
     box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
     position:relative;
     z-index:99;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid white;
    
}
#footer-top{
    background:#0d5995;
    min-height:40px;
    border-bottom:1px solid white;
    height:auto;
    color:white;
    margin-top:1px;
    padding-top:15px;
    box-shadow:inset 0 4px 10px rgba(0,0,0, 0.50);
    border-bottom: 1px solid white;
    
}
#footer-middle{
     background:#e2e2e2 url("../images/bg/overlay.png");
      box-shadow: 0 4px 10px rgba(0,0,0, 0.50);
      font-family:century gothic;
}
#newsAlert-wrap{
     background: white;
   
}
#student-feedbacks{
    border-bottom:4px solid #1da913;
    background:white;
    min-height:150px;
    margin-bottom:20px;
    height:auto;
    font-weight:bold;
    box-shadow:inset 0 2px 10px rgba(0,0,0, 0.50);
}
#selDownload2{
    margin-bottom:20px;
}
#student-downloads{
    border-left:4px solid orangered;
    min-height:50px;
    padding-bottom:5px;
    height:auto;
    background:white;
    font-weight:bold;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.50);
}
#registration-form{
    min-height:50px;
    padding-bottom:10px;
    height:auto;
    background:white;
    font-weight:bold;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.50);
}

#downloadImage{
  height:30px;
  width:30px;
  position:relative;
  top:8px;
}
#newsAlert-left1{
    border-left:4px solid #0d5995;
}
#newsAlert-left2{
    border-left:4px solid orangered;
}
#newsAlert-left3{
    border-left:4px solid #e4a700;
}
#qDay{
    min-height:150px;
    height:auto;
    border-left:4px solid #583200;
    padding:10px;
    border-bottom:1px solid #f1f1f1;
    border-top:1px solid #f1f1f1;
    
}
#Alumini-Post{
    font-family:century gothic;
    font-size:12px;
    position:relative;
    top:-10px;
    font-weight:bold;
    color:orangered;
}
#thought-image{
    height:50px;
    width:50px;
    border-radius:50%;
    border: 5px solid #1da913;
    float:left;
   
}
#tposted{
    position:relative;
    top:20px;
    line-height:24px;
}  
#headbanner{
       position:relative;
       top:10px;
       height:100px;
       padding:0px;
      
       
}
#headheading {
    top:-19px;
    position: relative;
    color:#0057b9;
    letter-spacing:3px;
    font-size:50px;
    text-transform: none;
    font-family:century gothic;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
#headpara {
    text-align:center;
    position: relative;
    top:-10px;
    color: black;
    font-family: century gothic;
    font-weight: bold;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
#wrap-nav {
    /*background:#ffca27;*/
     width: 100%;
    -moz-box-shadow: 0 0 15px #716d6d;
    -webkit-box-shadow: 0 0 15px #716d6d;
    box-shadow: 0 0 15px #716d6d;
}
#logo_img{
  height:100px;
  width:100px;
}